.header {
  z-index: 2;
}

header {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  justify-content: space-between;
  align-items: center;
}

.socials {
  @include flex;
  column-gap: 10px;
  justify-content: flex-end;

  svg {
    fill: $light;
    transition: fill 0.3s;
  }

  &-item {
    &:hover {
      svg {
        fill: $action;
      }

    }
  }
}

.menu {
  @include flex;
  column-gap: 16px;

  &-item {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;

    a {
      transition: color .3s;
      &:hover {
        color: $action;
      }
    }

  }
}